*{
    margin: auto;
    padding: 0;
}
:root{
    --mainText:black;
    --secondaryText: rgb(218, 218, 218);
}
.header h1{
    color: var(--mainText);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    background-color:white;
    font-size: 30px;
    margin-top: 5px;
}
.header-banner {
    width: 100%;
    min-height: 500px;
    background-image: url("assets/images/Dark-Foggy-Forest-Images-59978516.jpg");
}
.header-banner p{
    padding-top: 150px;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
    color: whitesmoke;
}
a{
    transition: color .25s ease-out 100ms;
    color: var(--secondaryText);
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: var(--secondaryText);
}

.header nav{
    font-weight: 800;
    float: right;
    display: block;
    margin-right: 50px;
    margin-left: 40%;
    margin-top: 175px;
    width: fit-content;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    background-color:rgba(0, 0, 255, 0);
    font-size: 30px;
    padding: 15px 20px;
    text-align: right;
}
li{
    display: inline-flex;
    padding: 5px;
    border-bottom: solid;
    border-bottom-color: whitesmoke;
}
.main{
    margin: 40px 80px;
}
.main h2 {
    color: var(--mainText);
    font-size: 40px;
    text-align: left;
}
.main p{
    margin: 50px 30px;
    font-size: 20px;
}
.project-container {
    padding: 40px 80px;
    flex-direction: row;
    justify-content: space-around;
    display: flex; 
    
}
.run-buddy-div{
    height: 450px !important;
    width: 450px !important;
}
.group-project-div {
    background-position-x: left;
}

.group-project p {
    font-size: 40px;
}

.project-container div {
    border-color: whitesmoke;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px;
    width: 300px;
    background-image: url("assets/images/Dark-Foggy-Forest-Images-59978516.jpg");
}
.project-container div:hover {
    filter: drop-shadow(0 0 1.5rem rgba(0, 128, 0, 0.774));
}
.run-buddy {
    font-size: 40px !important;
    margin: auto !important;
    line-height: 250px ;
}


@media screen and (max-width: 768px) {
    .run-buddy-div {
        height: 300px;
        width: 300px;
    }
    
}
@media screen and (max-width: 900px) {
    .project-container{
        padding: 0;
        flex-direction: column;
    }
    .main{
        margin: 40px 15px;
    }
     .header nav{
        float: none;
        margin-top: 125px;
        margin-left: 0;
        margin-right: 0;
    } 
}
